F90=
F90FLAGS= -g -O3 -fopenmp 
LDFLAGS= -g -O3 -fopenmp 
MODINC="-I ./"

HDF5DIR=
HDF5INCS=-I${HDF5DIR}/include
HDF5LIBS=-L${HDF5DIR}/lib -lhdf5 -lhdf5_fortran -lhdf5  -lz

LAPACKDIR=
LAPACKLIBS=-L${LAPACKDIR}/lib -llapack -lblas

HAVE_NUC_EOS=1
HAVE_RESTART=1
HAVE_LEAK_ROS=0
HAVE_LAPACK=1
